@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

@theme {
  --color-background: #10374d;
  --color-accent: #3c99aa;
  --color-highlight: #a9feed;
}

:root {
  background-color: var(--color-background);
  color: white;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-highlight);
}